.header{
    text-align: center;
    font-size: 30px;
}
.div1{
    position: relative;
    left: 20%;
   
    width: 60%;
    height: 1000px;
}
#d1{
   
   width: 100%;
    
}
#d2{
    position: relative;
    left: 20%;
    width: 60%;
}
#pre{
    color: rgb(187, 174, 158) ;
    font-size: 20px;
   
}